.header {
	background-color: #106470;
    width: %100;
    padding: 15px; 
    margin: 15px;
    height: 208px;
    text-align: center;
}

.title {
	color: white;
}

.ov {
	background-color: #106470;
    width: %100;
    padding: 0px; 
    margin: 0px;
    height: 50px;
    text-align: left;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #106470;
    border-color: #030033;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }

 p.intro {
 	text-align: left;
 	font-size: 16px;
 	font-family: Arial;

 }

 h3.welcome{
 	text-align: center;
 }

p.bg-info {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}

p.bg-warning{
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}

.research {
	background-color: #106470;
    width: %100;
    padding: 15px; 
    margin: 15px;
    height: 100px;
    text-align: left;

}

p.proje {
  font-size:16px;
}