.header {
	background-color: #106470;
    width: %100;
    padding-top:  15px;
    margin-top: 0px;
    height: 208px;
    text-align: center;
}

.title {
	color: white;
  font-family: "Arial";
}


 p.intro {
 	text-align: justify;
 	font-size: 16px;
 	font-family: Arial;

 }

 h3.welcome{
 	text-align: center;
 }

p.bg-info {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}

p.bg-warning{
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}

.research {
	background-color: #106470;
    width: %100;
    padding: 15px; 
    margin: 15px;
    height: 100px;
    text-align: left;

}

p.proje {
  font-size:16px;
}